@model IQueryable<CarRent.Models.Car>

@{
    ViewData["Title"] = "Home Page";
}



<table class="table">
    <tr>
        <th>Model</th>
        <th>Production Date</th>
        <th>color</th>
        <th>Number of doors</th>
    </tr>
    @foreach (var car in Model)
    {
    <tr>
        <td>@car.Model</td>
        <td>@car.ProductionDate</td>
        <td>@car.Color</td>
        <td>@car.NumberOfDoors</td>
        <td>
            @Html.ActionLink("Usuń", "DeleteCar", new { id = car.Id })
        </td>
    </tr>
    }
</table>

